.body{
    background-color: #f7f7f7;
    /*Muda a fonte*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.photo{
    border-radius: 50%;
    border: 1px solid #5d5d5d;
}

#title, .subtitle, .post_title{
    color: #5d5d5d;
}

#title{
    font-size: 40px;
    /*Tudo em maiusculo*/
    text-transform: uppercase;
}

a{
    /*Adiciona uma linha que corta a palavra*/
    text-decoration: line-through;
    color: #5d5d5d;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background-color: white;
    padding: 15px;
    border: 3px solid #5d5d5d;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    /*Todas as iniciais maiusculas*/
    text-transform: capitalize;
}

.post_image{
    margin-bottom: 15px;
}